* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #59626B;

	font-family: "Open Sans", sans-serif;
	text-align: justify;
}

a, h3, h4, emph {
	color: #13866f;
}

.left-column, .right-column {
  display: inline-block;
  float: left;
  width: 0%;
  margin: 0;
}

.main {
  display: inline-block;
  float: left;
  width: 100%;
  margin: 0;
}


@media only screen and (min-width: 1025px){
	.left-column, .right-column {
	  width: 25.00%;
	}
	
	.main {
	  width: 50.00%;
	}

	.navbar-links li a{
	  padding: 0 1em;
	}
}

.three {
  background-color: #ffffff;
  color: #59626B;

}

.three:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-links {
  list-style: none; 
  padding: 0;
	color: #ffffff;
	background-color: #423B6A;

}

.navbar-links li {
  display: inline;
  color: #ffffff;
}

.navbar-links li:hover {
  display: inline;
  background-color: #13866f;
}

.navbar-links li a{
  color: #ffffff;
  text-decoration:none;
}

.navbar-links li a:hover{
  color: #ffffff;
}

ul img {
  vertical-align: middle;
}

.vert-center {
  vertical-align: middle;	
}
